@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
  }

// image container perameters
.image {
  background-color: $card-color;
  width:100%;
  padding: 5px;
 }
// image file perameters
img {
  width : 100%;
  height : 400px;
  object-fit:cover;
}
// Main Body perameters
body {
  padding: 20px;
  background-image: url(/images/backgroundimage1.jpg);
  font-family: $font;
}
// In page title parameters
.header {
  padding: 1px;
  font-size: 70px;
  text-align: center;
  background-color: $header-color;
  width: 75%;
  margin:auto;
  border-radius: 20px;
  border-width: 20px;
}
// flexbox parameters for main container
.container {   
  display:flex;
  flex-wrap:wrap;

}
// individual container parameters for all items included, inside the  main flexbox container
.card {
  background-color: $container-color;
  padding: 20px;
  flex:20%;
  margin:10px;
  border-radius: 20px;
  border-width: 20px;
}
// media control for screen size changes
@media screen and (max-width:992px){
  .card{
    flex:50%;
  }
  .header{
    font-size:50px;
    width:100%;
  }
}
// media control for screen size changes
@media screen and (max-width:600px){
  .container{
    flex-direction:column;
  }
}
// navigation bar main container
ul.topnav {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: $navbar-background;
  border-radius: 20px;
  border-width: 2px;  
}
//  instructions for navbar contents to be to the left
ul.topnav li {float: left;}
// parameters for navbar contents  
ul.topnav li a {
  display: block;
  color: $navbar-text-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: $font;
}
// instructions for color change when mouse hovers over container 
ul.topnav li a:hover:not(.active) {background-color: $navbar-hover;}

// instructions to change color of background for whatever page is current
ul.topnav li a.active {background-color: $navbar-active;}

// media control for screen size changes
@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}

// Parameters for footer container
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} 
// flexbox parameters for container in footer
.contact_bar{
  display:flex;
  justify-content: center;
}
// parameters for icon size
.contact_bar a img{
  width:45px;
  height:45px;
}