@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    box-sizing: border-box;
  }

.image {
    background-color: $card-color;
    width:100%;
    padding: 5px;
  }
 
body {
    padding: 20px;
    background-image: url(/images/backgroundimage1.jpg);
    font-family: $font;
  }
  
.header {
    padding: 1px;
    font-size: 70px;
    text-align: center;
    background-color: $header-color;
    width: 75%;
    margin:auto;
    border-radius: 20px;
    border-width: 20px;
  }
  
.container {   
    display:flex;
    flex-wrap:wrap;

}
.card {
    background-color: $container-color;
    padding: 20px;
    flex:20%;
    margin:10px;
    border-radius: 20px;
    border-width: 20px;
 }

@media screen and (max-width:992px){
    .card{
        flex:50%;
    }
    .header{
        font-size:50px;
        width:100%;
    }
  }
@media screen and (max-width:600px){
    .container{
        flex-direction:column;
    }
}
  
ul.topnav {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: $navbar-background;
    border-radius: 20px;
    border-width: 2px;  
  }
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: $navbar-text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $font;
  }
  
ul.topnav li a:hover:not(.active) {background-color: $navbar-hover;}
  
ul.topnav li a.active {background-color: $navbar-active;}
  
  
@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} 
.contact_bar{
    display:flex;
    justify-content: center;
}
.contact_bar a img{
    width:45px;
    height:45px;
}