$font:'Fredoka One', cursive;
$header-color: #fe4a49;
$container-color: #b4ebca;
$navbar-text-color: white;
$navbar-active:#fe4a49;
$navbar-hover: #009fb7;
$navbar-background: #fed766;
$card-color: #fe4a49;
$contact-form-background-color: #b4ebca;